        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="/js/app/index.js"></script>
        <!-- Spring Boot 는 기본적으로 src/main/resources/static 부터 절대경로 시작함 -->
    </body>
</html>